<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item block *ngFor="let item of posts"><button end ion-button (click)='showButton(item)'>  <ion-icon name="eye"></ion-icon></button> {{item.title}}</ion-item>
  </ion-list>
</ion-content>
